@{
    ViewBag.Title = "About Me";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <h1> Who am I ?</h1>
    <p> I am a computer engineering student in YBU, Ankara, Turkey .</p>
    
    <h1>Interests</h1>
    <p>
       I am interested in Web Development. 
    </p>
    <h1>Languages</h1>
        <p>
           Turkish, English
        </p>
    
</article>

